@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background: url("/img/herobackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  
}

::-webkit-scrollbar-track {
  background: #202326;
  box-shadow: 1px 1px 5px #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #FF5F00;
}

.cardsamples{
  width: 100%;
  animation: movebanner 12s linear infinite;
}
@keyframes movebanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}